__pycache__/
articulate/__pycache__/
articulate/math/__pycache__/
articulate/utils/__pycache__/
articulate/utils/bullet/__pycache__/
articulate/utils/rbdl/__pycache__/
articulate/utils/torch/__pycache__/
data/__pycache__/
data/data_all/
data/dataset_raw/*
data/dataset_work/*
data/SMPLmodel/basicmodel_m_lbs_10_207_0_v1.0.0.pkl
data/test/Totalcapture
model/weight
train/checkpoints/
train/logs/
train/para.txt
train/log/
train/GGIP/
Weight/
data/data
data/pt_analysis_results
eval_GGIP/test_results_20250803_162523
